# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\\$645 - 675) underperformed compared to schools with smaller budgets (\\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

**Note:**
Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "C:/DS311/DS311--Python-assignment-2/data/schools_complete.csv"
student_data_to_load = "C:/DS311/DS311--Python-assignment-2/data/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete

#school_data_complete.count()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [3]:
# Create a District Summary
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [4]:
student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [5]:
# Total number of schools
total_number_of_schools = school_data['School ID'].count()
print(total_number_of_schools)

15

In [6]:
# Total number of students
total_number_of_student = student_data['student_name'].count()
print(total_number_of_student)

39170

In [7]:
# Total budget
total_budget = school_data['budget'].sum()
print(total_budget)

24649428

In [8]:
# Average math score
average_math_score = student_data['math_score'].mean()
print(average_math_score)

78.98537145774827

In [9]:
# Average reading score
average_reading_score = school_data_complete['reading_score'].mean()
print(average_reading_score)

81.87784018381414

In [10]:
# Overall average score
overall_average_score = (average_math_score + average_reading_score)/2
print(overall_average_score)

80.43160582078121

In [11]:
# Percentage of passing math (70 or greater)
number_of_student_passing = student_data[student_data['math_score']>=70]['student_name'].count()
percentage_of_passing_math = (number_of_student_passing / total_number_of_student) * 100 
print(percentage_of_passing_math)

74.9808526933878

In [12]:
district_summary = {'Total number of schools':[total_number_of_schools],
                   'Total number of students': [total_number_of_student],
                   'Total budget':[total_budget],
                   'Average math score':[average_math_score],
                   'Average reading score':[average_reading_score],
                   'Overall average score':[overall_average_score],
                   'Percentage of passing math':[percentage_of_passing_math]}
data = pd.DataFrame(district_summary)
data

,Total number of schools,Total number of students,Total budget,Average math score,Average reading score,Overall average score,Percentage of passing math
0,15,39170,24649428,78.985371,81.87784,80.431606,74.980853

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [13]:
school_type = school_data.set_index(["school_name"])["type"]
print(school_type)

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [14]:
total_student_per_school = school_data_complete["school_name"].value_counts()
print(total_student_per_school)

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [15]:
total_budget_per_school= school_data_complete.groupby(["school_name"])["budget"].mean()
print(total_budget_per_school)

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [16]:
per_student_budget = total_budget_per_school / total_student_per_school
print(per_student_budget)

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [17]:
average_math_schoolscore = school_data_complete.groupby(['school_name'])['math_score'].mean()
print(average_math_schoolscore)

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [18]:
average_reading_schoolscore = school_data_complete.groupby(['school_name'])['reading_score'].mean()
print(average_reading_schoolscore)

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [19]:
passing_math = school_data_complete[(school_data_complete['math_score']>=70)].groupby(['school_name'])['student_name'].count()
percentage_math_passing = (passing_math / total_student_per_school)* 100
print(percentage_math_passing)

Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [20]:
passing_reading = school_data_complete[school_data_complete['reading_score']>=70].groupby(['school_name'])['student_name'].count()
percentage_reading_passing = (passing_reading / total_student_per_school)* 100
print(percentage_reading_passing)

Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [21]:
overall_passing_rate = (percentage_math_passing + percentage_reading_passing ) /2 
overall_passing_rate

Bailey High School       74.306672
Cabrera High School      95.586652
Figueroa High School     73.363852
Ford High School         73.804308
Griffin High School      95.265668
Hernandez High School    73.807983
Holden High School       94.379391
Huang High School        73.500171
Johnson High School      73.639992
Pena High School         95.270270
Rodriguez High School    73.293323
Shelton High School      94.860875
Thomas High School       95.290520
Wilson High School       95.203679
Wright High School       94.972222
dtype: float64

In [22]:
school_summary =pd.DataFrame({"Type of school": school_type,
                  "Total of student": total_student_per_school,
                  "Total budget": total_budget_per_school,
                  "Per student budget": per_student_budget,
                  "Average math score": average_math_schoolscore,
                  "Average reading score": average_reading_schoolscore,
                  "Percentage of passing math": percentage_math_passing,
                  "Percentage of passing reading": percentage_reading_passing,
                  "Overall passing rate": overall_passing_rate})
school_summary

,Type of school,Total of student,Total budget,Per student budget,Average math score,Average reading score,Percentage of passing math,Percentage of passing reading,Overall passing rate
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,73.807983
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,94.379391
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,73.293323
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,94.860875
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,95.203679
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,94.972222

### Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [23]:
#  Sort and display the top five schools in overall passing rate
top5 = school_summary.sort_values(["Overall passing rate"], ascending=False)
top5.head()

,Type of school,Total of student,Total budget,Per student budget,Average math score,Average reading score,Percentage of passing math,Percentage of passing reading,Overall passing rate
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,95.203679

In [24]:
# Calculate total school budget
total_budget_of_top5 = top5['Total budget'].sum()

In [25]:
# Calculate per student budget
total_of_top5_student = top5['Total of student'].sum()
top5_per_student_budget = (total_budget_of_top5 / total_of_top5_student)
top5_per_student_budget

629.2935409752362

In [26]:
# Cacluate the avg math and reading score
top5_average_math = top5['Average math score'].mean()
top5_average_math

80.43252976460248

In [27]:
top5_average_reading = top5['Average reading score'].mean()
top5_average_reading

82.5291880152832

#### Find the passing rate for math and reading (above 70 points)

In [42]:
# Find the total counts of math result
total_math_count = school_data_complete.groupby(['school_name'])['math_score'].count()
total_math_count

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: math_score, dtype: int64

In [43]:
# Find the counts for math result in each school that pass 70 or higher
passing_math = school_data_complete[school_data_complete['math_score']>=70].groupby(['school_name'])['math_score'].count()
passing_math

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: math_score, dtype: int64

In [44]:
# Calculate the math passing rate
math_passing_rate = (passing_math / total_math_count) * 100
math_passing_rate

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
Name: math_score, dtype: float64

In [45]:
# Find the total counts of read result
total_reading_count = school_data_complete.groupby(['school_name'])['reading_score'].count()
total_reading_count

# Find the counts for read result in each school that pass 70 or higher
passing_reading = school_data_complete[school_data_complete['reading_score']>=70].groupby(['school_name'])['reading_score'].count()
passing_reading

# Calculate the read passing rate
reading_passing_rate = (passing_reading / total_reading_count) * 100
reading_passing_rate

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
Name: reading_score, dtype: float64

In [46]:
# Calculate the overall passing rate (average of the math and reading passing rate)
average_math_reading_rate = (math_passing_rate + reading_passing_rate) / 2
average_math_reading_rate

school_name
Bailey High School       74.306672
Cabrera High School      95.586652
Figueroa High School     73.363852
Ford High School         73.804308
Griffin High School      95.265668
Hernandez High School    73.807983
Holden High School       94.379391
Huang High School        73.500171
Johnson High School      73.639992
Pena High School         95.270270
Rodriguez High School    73.293323
Shelton High School      94.860875
Thomas High School       95.290520
Wilson High School       95.203679
Wright High School       94.972222
dtype: float64

### Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [47]:
#  Sort and display the worst five schools in overall passing rate
top5.tail()

,Type of school,Total of student,Total budget,Per student budget,Average math score,Average reading score,Percentage of passing math,Percentage of passing reading,Overall passing rate
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,73.804308
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,73.639992
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,73.500171
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,73.363852
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,73.293323

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [48]:
# Calculate the average math score for 9th grade in each school

mathscores_ninth_graders = school_data_complete[school_data_complete['grade'] == '9th'].groupby('school_name').mean()['math_score']
mathscores_ninth_graders

school_name
Bailey High School       77.083676
Cabrera High School      83.094697
Figueroa High School     76.403037
Ford High School         77.361345
Griffin High School      82.044010
Hernandez High School    77.438495
Holden High School       83.787402
Huang High School        77.027251
Johnson High School      77.187857
Pena High School         83.625455
Rodriguez High School    76.859966
Shelton High School      83.420755
Thomas High School       83.590022
Wilson High School       83.085578
Wright High School       83.264706
Name: math_score, dtype: float64

In [49]:
# Calculate the average math score for 10th grade in each school
mathscores_tenth_graders = school_data_complete[school_data_complete['grade'] == '10th'].groupby('school_name')['math_score'].mean()
mathscores_tenth_graders

school_name
Bailey High School       76.996772
Cabrera High School      83.154506
Figueroa High School     76.539974
Ford High School         77.672316
Griffin High School      84.229064
Hernandez High School    77.337408
Holden High School       83.429825
Huang High School        75.908735
Johnson High School      76.691117
Pena High School         83.372000
Rodriguez High School    76.612500
Shelton High School      82.917411
Thomas High School       83.087886
Wilson High School       83.724422
Wright High School       84.010288
Name: math_score, dtype: float64

In [50]:
# Calculate the average math score for 11th grade in each school
mathscores_eleventh_graders = school_data_complete[school_data_complete['grade'] == '11th'].groupby('school_name')['math_score'].mean()
mathscores_eleventh_graders

school_name
Bailey High School       77.515588
Cabrera High School      82.765560
Figueroa High School     76.884344
Ford High School         76.918058
Griffin High School      83.842105
Hernandez High School    77.136029
Holden High School       85.000000
Huang High School        76.446602
Johnson High School      77.491653
Pena High School         84.328125
Rodriguez High School    76.395626
Shelton High School      83.383495
Thomas High School       83.498795
Wilson High School       83.195326
Wright High School       83.836782
Name: math_score, dtype: float64

In [51]:
# Calculate the average math score for 12th grade in each school
mathscores_twelfth_graders = school_data_complete[school_data_complete['grade'] == '12th'].groupby('school_name')['math_score'].mean()
mathscores_twelfth_graders

school_name
Bailey High School       76.492218
Cabrera High School      83.277487
Figueroa High School     77.151369
Ford High School         76.179963
Griffin High School      83.356164
Hernandez High School    77.186567
Holden High School       82.855422
Huang High School        77.225641
Johnson High School      76.863248
Pena High School         84.121547
Rodriguez High School    77.690748
Shelton High School      83.778976
Thomas High School       83.497041
Wilson High School       83.035794
Wright High School       83.644986
Name: math_score, dtype: float64

In [52]:
# Create table that lists the average math score for each school of each grade level.

In [53]:
list_average_math_score = pd.DataFrame({"9th":mathscores_ninth_graders,
                                        "10th":mathscores_tenth_graders,
                                        "11th":mathscores_eleventh_graders,
                                        "12th": mathscores_twelfth_graders})
list_average_math_score

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

### Reading Score by Grade

* Perform the same operations as above for reading scores

In [54]:
# Calculate the average reading score for 9th grade in each school
readingscores_ninth_graders = school_data_complete[school_data_complete['grade'] == '9th'].groupby('school_name').mean()['reading_score']
readingscores_ninth_graders

school_name
Bailey High School       81.303155
Cabrera High School      83.676136
Figueroa High School     81.198598
Ford High School         80.632653
Griffin High School      83.369193
Hernandez High School    80.866860
Holden High School       83.677165
Huang High School        81.290284
Johnson High School      81.260714
Pena High School         83.807273
Rodriguez High School    80.993127
Shelton High School      84.122642
Thomas High School       83.728850
Wilson High School       83.939778
Wright High School       83.833333
Name: reading_score, dtype: float64

In [55]:
# Calculate the average reading score for 10th grade in each school
readingscores_tenth_graders = school_data_complete[school_data_complete['grade'] == '10th'].groupby('school_name')['reading_score'].mean()
readingscores_tenth_graders

school_name
Bailey High School       80.907183
Cabrera High School      84.253219
Figueroa High School     81.408912
Ford High School         81.262712
Griffin High School      83.706897
Hernandez High School    80.660147
Holden High School       83.324561
Huang High School        81.512386
Johnson High School      80.773431
Pena High School         83.612000
Rodriguez High School    80.629808
Shelton High School      83.441964
Thomas High School       84.254157
Wilson High School       84.021452
Wright High School       83.812757
Name: reading_score, dtype: float64

In [56]:
# Calculate the average reading score for 11th grade in each school
readingscores_eleventh_graders = school_data_complete[school_data_complete['grade'] == '11th'].groupby('school_name')['reading_score'].mean()
readingscores_eleventh_graders

school_name
Bailey High School       80.945643
Cabrera High School      83.788382
Figueroa High School     80.640339
Ford High School         80.403642
Griffin High School      84.288089
Hernandez High School    81.396140
Holden High School       83.815534
Huang High School        81.417476
Johnson High School      80.616027
Pena High School         84.335938
Rodriguez High School    80.864811
Shelton High School      84.373786
Thomas High School       83.585542
Wilson High School       83.764608
Wright High School       84.156322
Name: reading_score, dtype: float64

In [57]:
# Calculate the average reading score for 12th grade in each school
readingscores_twelfth_graders = school_data_complete[school_data_complete['grade'] == '12th'].groupby('school_name')['reading_score'].mean()
readingscores_twelfth_graders

school_name
Bailey High School       80.912451
Cabrera High School      84.287958
Figueroa High School     81.384863
Ford High School         80.662338
Griffin High School      84.013699
Hernandez High School    80.857143
Holden High School       84.698795
Huang High School        80.305983
Johnson High School      81.227564
Pena High School         84.591160
Rodriguez High School    80.376426
Shelton High School      82.781671
Thomas High School       83.831361
Wilson High School       84.317673
Wright High School       84.073171
Name: reading_score, dtype: float64

In [58]:
# Create table that lists the average reading score for each school of each grade level.
list_average_reading_score = pd.DataFrame({"9th":readingscores_ninth_graders,
                                        "10th":readingscores_tenth_graders,
                                        "11th":readingscores_eleventh_graders,
                                        "12th": readingscores_twelfth_graders})
list_average_reading_score

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [59]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [60]:
# Create a new column to show budget per student in each row
per_student_budget

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [61]:
# Create a new column to define the spending ranges per student
school_summary['Spending ranges'] = pd.cut(school_summary['Per student budget'], bins = spending_bins, labels=group_names)
school_summary

,Type of school,Total of student,Total budget,Per student budget,Average math score,Average reading score,Percentage of passing math,Percentage of passing reading,Overall passing rate,Spending ranges
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,74.306672,$615-645
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,95.586652,<$585
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,73.363852,$615-645
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,73.804308,$615-645
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,95.265668,$615-645
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,73.807983,$645-675
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,94.379391,<$585
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,73.500171,$645-675
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,73.639992,$645-675
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,95.270270,$585-615
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,73.293323,$615-645
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,94.860875,$585-615
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,95.290520,$615-645
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,95.203679,<$585
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,94.972222,<$585

In [62]:
# Calculate the average math score within each spending range
school_summary.groupby(['Spending ranges'])['Average math score'].mean()

Spending ranges
<$585       83.455399
$585-615    83.599686
$615-645    79.079225
$645-675    76.997210
Name: Average math score, dtype: float64

In [63]:
# Calculate the percentage passing rate for math in each spending range
school_summary.groupby(['Spending ranges'])['Percentage of passing math'].mean()

Spending ranges
<$585       93.460096
$585-615    94.230858
$615-645    75.668212
$645-675    66.164813
Name: Percentage of passing math, dtype: float64

In [64]:
# Calculate the percentage passing rate for reading in each spending range
school_summary.groupby(['Spending ranges'])['Percentage of passing reading'].mean()

Spending ranges
<$585       96.610877
$585-615    95.900287
$615-645    86.106569
$645-675    81.133951
Name: Percentage of passing reading, dtype: float64

In [65]:
# Calculate the percentage overall passing rate in each spending range
school_summary.groupby(['Spending ranges'])['Overall passing rate'].mean()

Spending ranges
<$585       95.035486
$585-615    95.065572
$615-645    80.887391
$645-675    73.649382
Name: Overall passing rate, dtype: float64

### Scores by School Size

* Perform the same operations as above, based on school size.

In [66]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names1 = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [67]:
# Create a new column for the bin groups
school_summary['School size'] = pd.cut(school_summary['Total of student'], bins = size_bins, labels=group_names1)
school_summary

,Type of school,Total of student,Total budget,Per student budget,Average math score,Average reading score,Percentage of passing math,Percentage of passing reading,Overall passing rate,Spending ranges,School size
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,74.306672,$615-645,Large (2000-5000)
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,95.586652,<$585,Medium (1000-2000)
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,73.363852,$615-645,Large (2000-5000)
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,73.804308,$615-645,Large (2000-5000)
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,95.265668,$615-645,Medium (1000-2000)
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,73.807983,$645-675,Large (2000-5000)
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,94.379391,<$585,Small (<1000)
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,73.500171,$645-675,Large (2000-5000)
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,73.639992,$645-675,Large (2000-5000)
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,95.270270,$585-615,Small (<1000)
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,73.293323,$615-645,Large (2000-5000)
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,94.860875,$585-615,Medium (1000-2000)
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,95.290520,$615-645,Medium (1000-2000)
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,95.203679,<$585,Large (2000-5000)
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,94.972222,<$585,Medium (1000-2000)

In [69]:
school_data_complete['School size'] = pd.cut(school_data_complete['size'], bins = size_bins, labels=group_names1)
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,School size
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,Large (2000-5000)
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,Large (2000-5000)
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,Large (2000-5000)
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,Large (2000-5000)
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,Large (2000-5000)

Look for the total count of test scores that pass 70% or higher

In [81]:
# math_pass_size
school_summary[school_summary['Percentage of passing math'] >= 70].groupby(['School size'])['Percentage of passing math'].count()

School size
Small (<1000)         2
Medium (1000-2000)    5
Large (2000-5000)     1
Name: Percentage of passing math, dtype: int64

In [82]:
# read_pass_size
school_summary[school_summary['Percentage of passing reading'] >= 70].groupby(['School size'])['Percentage of passing reading'].count()

School size
Small (<1000)         2
Medium (1000-2000)    5
Large (2000-5000)     8
Name: Percentage of passing reading, dtype: int64

In [84]:
# Calculate the overall passing rate for different school size
school_summary.groupby(['School size'])['Overall passing rate'].count()

School size
Small (<1000)         2
Medium (1000-2000)    5
Large (2000-5000)     8
Name: Overall passing rate, dtype: int64

### Scores by School Type

* Perform the same operations as above, based on school type.

In [85]:
# Create bins and groups, school type {'Charter', 'District'}
school_summary['Type of school']

Bailey High School       District
Cabrera High School       Charter
Figueroa High School     District
Ford High School         District
Griffin High School       Charter
Hernandez High School    District
Holden High School        Charter
Huang High School        District
Johnson High School      District
Pena High School          Charter
Rodriguez High School    District
Shelton High School       Charter
Thomas High School        Charter
Wilson High School        Charter
Wright High School        Charter
Name: Type of school, dtype: object

Find counts of the passing 70 or higher score for the both test

In [86]:
# math pass size
school_summary[school_summary['Percentage of passing math'] >= 70].groupby(['Type of school'])['Percentage of passing math'].count()

Type of school
Charter    8
Name: Percentage of passing math, dtype: int64

In [89]:
# reading pass size
school_summary[school_summary['Percentage of passing reading'] >= 70].groupby(['Type of school'])['Percentage of passing reading'].count()

Type of school
Charter     8
District    7
Name: Percentage of passing reading, dtype: int64

In [90]:
# Calculate the overall passing rate
school_summary.groupby(['Type of school'])['Overall passing rate'].count()

Type of school
Charter     8
District    7
Name: Overall passing rate, dtype: int64